
<mat-sidenav-container>
  <mat-sidenav  opened mode="side" [fixedInViewport]="true">
    <app-pokemon-list (idPokemon)="onPokemonSelectedId($event)"  > </app-pokemon-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-pokemon-team  [idPokemonAdd]="idPokemonAdd" (idPokemon)="onPokemonSelectedId($event)" ></app-pokemon-team>

    <app-pokemon-detail  [idPokemonSelected]="idPokemonSelected" (ajoutPokemonTab)="onPokemonAdd($event)"  class="test"> </app-pokemon-detail>
  </mat-sidenav-content>
</mat-sidenav-container>

